body {
    /* Ensure the body takes up the full height of the page */
    height: 100vh;
    margin: 0;
    /* Use flexbox to center the div both vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerDiv {
    /* Add any additional styles you want to your div */
    /* For example, you might want to add a border or background color */
    margin-top: -25%;
    font-size: 1.5em;
    font-family: "Helvetica Neue";
}

form {
    font-size: 1.5em;
    font-family: "Helvetica Neue";
}

button {
    font-size: 0.4em;
    font-family: "Helvetica Neue";
}