body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.centerDiv {
    margin-top: -25%;
    font-size: 1.4em;
    font-family: "Helvetica Neue";
}

.formDiv {
    font-size: 1.4em;
    font-family: "Helvetica Neue";
}

form {
    font-size: 1.5em;
    font-family: "Helvetica Neue";
}

button {
    font-size: 0.44em;
    font-family: "Helvetica Neue";
    height: auto;
    display: inline-block;
    white-space: nowrap;
}

.buttoncontainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

table {
    width: 850px;
    border-collapse: collapse;
}

td {
    padding: 10px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

tr {
border-bottom: 1px solid black;
}

.buttonform {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wishform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}