<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/createawishform" method="post">
    <input type="hidden" name="originalPageId" value="${originalPageId}">

    <label for="url">URL:</label>
    <input type="text" id="url" name="URL"/> <br> <br>

    <label for="description">Wish name:</label>
    <input type="text" id="description" name="Wish name"/> <br> <br>

    <label for="comment">Comments:</label>
    <textarea id="comment" name="Comments" rows="4" cols="50"/> </textarea> <br> <br>

    <label for="price">Price:</label>
    <input type="number" id="price" name="Price"/> <br> <br>

    <input type="submit" value="send">
</form>
</body>
</html>