<!DOCTYPE html>
<html lang="en">

<!-- Metadata and styling setup -->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/resources/static/css/styles.css}">
</head>

<!-- Page content -->
<body>
<div class="centerDiv">
    <form action="/createawishlist" method="post">
        <button type="submit">Click to create your wish list</button>
        <input type="hidden" name="data" value="additionalData"/>  <!-- Hidden input field -->
    </form>
</div>
</body>

</html>