<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Unless I specify the full path the application won't be able to find the file,
   and instead the WishlistController will try to take it instead due to internal pathing error-->
    <link rel="stylesheet" th:href="@{/resources/static/css/styles.css}">
</head>
<body>
<div class="centerDiv" th:if="${wishId != 0}">
    <table>
        <thead>
        <td><b>Wish</b></td>
        <td><b>Specifications (size, color etc.)</b></td>
        <td><b>Price</b></td>
        <td><b>Reserved</b></td>
        </thead>
        <tr th:each="wish : ${wish}">

            <td><a th:href="${wish.url}" th:text="${wish.description}"></a></td>

            <td th:text="${wish.comment}"></td>
            <td th:text="${wish.price} + ',00'"></td>
            <div th:if="${wish.email == null}">

                <td>No</td>

                <td>
                    <form class="buttonform" th:action="@{'/' + ${wishListPassword} + '/reservewish'}" method="post">
                    <button type="submit">Reserve wish</button>
                    <!-- Optional hidden input field -->
                    <input type="hidden" name="wishIntegerId" th:value="${wish.id}" />
                    </form>
                </td>
            </div>

            <div th:if="${wish.email != null}">

                <td>Yes</td>

            </div>
        </tr>
    </table>
</div>



</body>
</html>