<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${wishId != 0}">
    <table>
        <thead><td>URL</td><td>Name</td><td>Comment</td><td>Price</td><td>Reserved</td></thead>
        <tr th:each="wish : ${wish}">
            <td th:text="${wish.url}"></td>
            <td th:text="${wish.description}"></td>
            <td th:text="${wish.comment}"></td>
            <td th:text="${wish.price}"></td>

            <div th:if="${wish.email == null}">

                <td>No</td>

                <td>
                    <form th:action="@{'/' + ${id} + '/' + ${intId}}" method="post">
                    <button type="submit">Reserve gift</button>
                    <!-- Optional hidden input field -->
                    <input type="hidden" name="wishId" th:value="${wish.id}" />
                    </form>
                </td>
            </div>

            <div th:if="${wish.email != null}">

                <td>Yes</td>

            </div>
        </tr>
    </table>
</div>



</body>
</html>