<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Unless I specify the full path the application won't be able to find the file,
   and instead the WishlistController will try to take it instead due to internal pathing error-->
    <link rel="stylesheet" th:href="@{/resources/static/css/styles.css}">
</head>
<body>
<div class="centerDiv">
    <!-- Only displays wishes if there are wishes in the DB. -->
    <div th:if="${wishId != 0}">
        <table>
            <thead>
            <td>URL</td>
            <td>Name</td>
            <td>Comment</td>
            <td>Price</td>
            <td><!--Edit wish--></td>
            <td><!--Delete wish--></td>
            </thead>
            <tr th:each="wish : ${wish}">
                <td th:text="${wish.url}"></td>
                <td th:text="${wish.description}"></td>
                <td th:text="${wish.comment}"></td>
                <td th:text="${wish.price}"></td>
                <td>
                    <form th:action="@{'/' + ${wishListStringId} + '/editwish'}" method="post">
                    <button type="submit">Edit wish</button>
                    <!-- Optional hidden input field -->
                    <input type="hidden" name="wishIntegerId" th:value="${wish.id}" />
                    </form>
                </td>
                <td>
                    <form th:action="@{'/' + ${wishListStringId} + '/deletewish'}" method="post">
                        <button type="submit">Delete wish</button>
                        <!-- Optional hidden input field -->
                        <input type="hidden" name="wishIntegerId" th:value="${wish.id}" />
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <!-- Button to create a new wish. -->
    <form th:action="@{'/' + ${wishListStringId}}" method="post">
        <button type="submit">Add wish to wish list</button>
        <!-- Optional hidden input field. -->
        <input type="hidden" name="data" value="additionalData"/>
    </form>
    <br>
    <form th:action="@{'/' + ${wishListStringId} + '/createsharelink'}" method="post">
        <button type="submit">Create webpage for sharing</button>
        <!-- Optional hidden input field. -->
        <input type="hidden" name="data" value="additionalData"/>
    </form>
    <br>
    <br>
    <br>
    <form th:action="@{'/' + ${wishListStringId} + '/deletewishlist'}" method="post">
        <button type="submit">Delete Wish List</button>
        <!-- Optional hidden input field. -->
        <input type="hidden" name="data" value="additionalData"/>
    </form>
</div>
</body>
</html>